@font-face {
    font-family: "Roboto", sans-serif;
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family: "Roboto", sans-serif;
    --font-size: 16px;

    --green-1: #A7F860;
    --color-main-2: #c7ff96;
    --color-main-3: #3f5529;
    --green-4: #435f26;

    --gray-1: rgb(29, 29, 29);
    --gray-2: #3c3c3c;

    --color-table: rgb(90, 90, 90);

    --background-color-content: rgb(180, 180, 180);

    --height-header: 10vh;
    --height-main: 84vh;
    --height-footer: 6vh;

    --height-button: 5vh;
    --height-input: 35px;

    --input-border: 0;
}