#bar {
    width: 19vw;
    height: 86vh;
    background-color: var(--gray-2);
}

.buttons {
    width: 100%;
}

.buttons a {
    display: flex;
    justify-content: center;
    text-decoration: none !important;
}

.buttons button {
    width: 90%;
    height: var(--height-button);
    padding: 0 1vw;
    margin-top: 1.3vh;
    border: 0;
    background-color: var(--gray-1);
    color: white;
    font-weight: bold;
}

@media (min-width: 900px) {
    .buttons button {
        min-height: var(--height-input) !important;
    }
}

.buttons button:hover {
    background-color: var(--green-1);
    color: black;
}

@media (max-width: 600px){
	#bar {
        width: 100vw !important;
        position: absolute !important;
        display: none;
        background-color: rgba(0, 0, 0, 0.397);
    }

    .buttons {
        width: 65%;
        background-color: var(--gray-2);
    }
}