button {
    font-family: var(--font-family);
    cursor: pointer;
}

.primary,
.secondary,
.third {
    background-color: var(--green-1);
    border: 0;
    height: var(--height-button);
    padding: 0 10px;
    font-weight: bold;
    margin: 2vh 1vw;
}

@media (min-width: 900px) {
    .primary,
    .secondary,
    .third {
        min-height: var(--height-input) !important;
    }
}

.primary {
    background-color: var(--gray-2);
    color: white;
}

.primary:hover {
    background-color: black;
}

.secondary {
    background-color: var(--green-1);
}

.secondary:hover {
    background-color: black;
    -webkit-text-fill-color: white;
}

.third {
    background-color: rgb(131, 0, 0);
    color: white;
}

.third:hover {
    background-color: black;
}