.content {
    height: 86vh !important;
    width: 81vw;
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--background-color-content);
    padding: 0;
}

@media (max-width: 600px){
	.content {
        width: 100vw;
    }
}

.content::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(178, 178, 178);
}

.content::-webkit-scrollbar-thumb {
    height: 4px;
    border-radius: 0px;
    width: 3px;
    background-color: rgb(102, 102, 102);
}

.content-main {
    width: auto;
    height: auto;
}

.content-margin {
    color: transparent;
    margin-bottom: 0;
}