footer {
    width: 100%;
    height: var(--height-footer);
    background-color: var(--gray-1);
    color: white;
    margin: 0 !important;
    position: relative;
    margin-top: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0%;
}

footer p {
    margin: 0px;
}

footer a {
    font-weight: 450;
}