header {
    height: var(--height-header);
    background-color: var(--gray-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2vw;
    color: white;
}

header button {
    border: 0;
    background-color: transparent;
    font-size: 5.5vh;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

header button:hover {
    color: rgb(174, 174, 174);
}

header img {
   height: 5.5vh;
}