header {
    height: var(--height-header);
    background-color: var(--gray-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2vw;
    color: white;
}

#main-title button {
    border: 0;
    background-color: transparent;
    font-size: 5.5vh;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

#main-title button:hover {
    color: rgb(174, 174, 174);
}

@media (max-width: 600px){
    #main-title {
        display: none;
    }
}

header img {
   height: 5.5vh;
}