.inicio {
  height: 98% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner-1 {
  min-width: 80vw ;
}

.box-1 {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 8vw;
}

.cont-1 {
  padding: 2vh 2vw;
  background-color: var(--gray-2);
  border: solid 2px rgb(43, 43, 43);
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-2 {
  padding: 2vh 2vw;
  background-color: var(--gray-2);
  border: solid 2px rgb(43, 43, 43);
  min-width: 15.5vw;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-1 p, .cont-2 p {
  margin: 0;
}

.button-1 {
  border-radius: 5px;
  margin: 1.5vh 0;
  padding: 1.7vh;
  min-width: 18.5vw;
  border: 0;
  color: white;
  background-color: var(--gray-1);
}

.button-1 img {
  width: 3vw;
  margin-right: 10px;
}

.button-1:hover {
  background-color: var(--green-2);
  border-color: var(--green-4);
}