input {
    font-family: var(--font-family);
}

input:focus {
    outline: 0;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    /* outline: none; */
    height: var(--height-input);
    width: 270px !important;
    border: var(--input-border);
    background-color: white !important;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}

#tipo,
#setor {
    outline: 0;
    font-size: 16px;
    height: var(--height-input);
    width: 270px !important;
    padding: 0 10px;
    margin-top: 0.5vh;
    margin-bottom: 2vh;
    border: var(--input-border);
    background-color: white;
}

#inputs-setor {
    height: var(--height-input);
    display: flex;
    justify-content: space-between;
    width: 270px !important;
}

#inputs-setor input {
    width: 160px !important;
    width: 100%;
    border-right: none;
    margin: 0;
}

#inputs-setor select {
    width: 110px;
    border: 0px;
    border-left: solid 1px gray;
    background-color: white;
    padding-left: 10px;
}

#inputs-setor select:focus {
    outline: 0;
}

#inputs-setor select::selection {
    background-color: blue;
}

input:autofill {
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px #fff0d8 inset;
    font-size: var(--font-size);
}

input[type="file"]::file-selector-button {
    border: 0;
    font-weight: 500;
    height: var(--height-input);
    margin: 2vh;
    padding: 0 10px;
    background-color: var(--gray-2);
    color: white;
    font-weight: bold;
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--green-1);
    -webkit-text-fill-color: black;
}

@media (max-width: 600px) {
    input[type="text"],
    input[type="password"],
    input[type="date"],
    #tipo,
    #turmas,
    #inputs-turma {
        width: 50vw !important;
    }
}