body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: var(--font-family);
}

p, input, button {
    font-size: var(--font-size)
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.end {
    display: flex;
    align-items: center;
    justify-content: end;
}

@media (max-width: 600px) {
    .end {
        justify-content: center;
    }
}

.flex {
    display: flex;
    align-items: center;
}

main {
    height: var(--height-main);
}

.box-content {
    height: var(--height-main);
    display: flex;
    justify-content: space-between;
}