.table {
    max-height: 52vh;
    max-width: 60vw;
    margin: 2vh 0;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-table);
}

@media (max-width: 600px){
	.table {
        max-width: 90vw;
    }
}

.table::-webkit-scrollbar {
    width: 10px;
    background-color: var(--gray-2);
}

.table::-webkit-scrollbar-thumb {
    height: 4px;
    border-radius: 0px;
    width: 3px;
    background-color: rgb(51, 51, 51);
}

.table table {
    border: 1px solid var(--color-table);
    padding: 0 !important;
    text-indent: initial;
    border-spacing: 1px !important;
    height: 100%;
}

th,
td {
    border: 1px solid var(--color-table);
}

th {
    top: 0%;
    position: sticky;
    text-align: start;
    background-color: var(--green-1);
}

th,
td {
    padding: 0px !important;
}

th p,
td p {
    margin: 0 !important;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 8px;
    
}

td {
    background-color: rgb(231, 231, 231);
}

td a {
    height: 100%;
}

td button {
    height: 100%;
    width: 100%;
    border: 0;
    font-weight: bold;
    color: white;
    background-color: var(--gray-1);
}

td button:hover {
    color: black;
    background-color: var(--green-1);
}

@media (max-width: 600px) {
    td p {
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    th p {
        max-width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

