.title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2 {
    margin: 2vh 0;
    letter-spacing: 1px;
}

@media (max-width: 600px) {
    .title h2 {
        max-width: 60vw !important;
    }
}