.main-validate {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}


.form-validate {
    padding: 5.5vh 2.2vw;
    background-color: rgb(57, 57, 57);
    color: #ffffff;
    /* border-radius: 12px; */
}

.form-validate img {
    width: 20vw;
}

#title-validate {
    margin-top: 3vh;
    margin-bottom: 1.5vh;
}

.form-validate input {
    margin-top: 0.8vh;
    margin-bottom: 1vh;
    /* border-radius: 5px; */
}


.form-validate input {
    box-sizing: border-box;
    border: none;
    background-color: white !important;
  }

  .form-validate input:autofill {
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    font-size: var(--font-size);
}
.form-validate button {
    margin-top: 3vh;
    border: 0 !important;
}

#footer-validate {
    margin-top: 4vh !important;
    color: var(--green-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-validate a {
    color: var(--color-validate-a);
}

#footer-validate p {
    margin: 0;
}

@media (max-width: 600px) {
    .form-validate {
        padding: 5.5vh 2.2vw;
        background-color: rgb(24, 24, 24);
        color: #ffffff;
        /* border-radius: 12px; */
    }

    #title-validate {
        display: none;
        margin-top: 3vh;
        margin-bottom: 1.5vh;
    }

    .form-validate img {
        width: 70vw;
        margin-bottom: 5vh;
    }

    .form-validate input {
        margin-top: 0.8vh;
        margin-bottom: 3vh;
        width: 75vw !important; 
        /* border-radius: 5px; */
    }
}