<div class="title">
    <h2>COLABORADORES</h2>
</div>

<% if (body.table["status"]==200) { %>

    <div class="center">
        <%- include('../components/search', { placeholder: "Procurar colaborador" }) %>
    </div>

    <%- include('../components/colaboradores', { table: body.table, report: true, email: false }); %>

<% } else { %>

    <div class="center">
        <p id="message">
            <%= body.table["message"] %>
        </p>
    </div>

<% } %>