<div class="title">
    <h2>CLASSE DE REGISTROS</h2>
</div>

<% if (body.table["status"]==200) { %>

    <div class="center">
        <%- include('../components/search', { placeholder: "Procurar classe" }) %>
    </div>

    <%- include('../components/tipos', { table: body.table }); %>

<% } else { %>

    <div>
        <p id="message">
            <%= body.table["message"] %>
        </p>
    </div>

<% } %>