<% if (body.table["status"]==200) { %>

    <%- include('../components/imc-graphic') %>

    <%- include('../components/relatorio-imc-ia') %>

    <div class="title">
      <h2>RELATÓRIO DO COLOBORADOR</h2>
    </div>

    <%- include('../components/colaborador', { table: body.table }); %>

    <%- include('../components/imprimir-relatorio', { email: body.email }); %>

    <br><br>
<% } else { %>

    <script>
        window.location.replace("/");
    </script>

<% } %>