<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/img/trevo-4.png">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/scripts.js" defer></script>
    <title>Gestão de Saúde</title>
</head>

<%- include(`./interfaces/${body.interface}`, { body: body }) %>

</html>