<header>
    <div>
        <a href="/colaboradores">
            <button>GESTÃO DE SAÚDE</button>
        </a>
    </div>

    <div>
        <img src="../public/img/Movement.svg" alt="">
    </div>
</header>