<header>
    <%- include("./menu"); %>

    <div id="main-title">
        <a href="/colaboradores">
            <button>GESTÃO DE SAÚDE</button>
        </a>
    </div>

    <div>
        <a href="/colaboradores">
            <img src="../public/img/Movement.svg" alt="">
        </a>
    </div>
</header>