<div class="graphic-1">
    <div class="title">
        <h2>Gráfico de IMC</h2>
    </div>

    <div class="center">
        <canvas id="graphic-imc"></canvas>
    </div>
    
</div>



<script src="/public/js/libraries/chart.js"></script>

<script>
    async function getData() {
        let data = await listarDataEIMC()
        generateGraphic(data)
    }

    function generateGraphic(data) {
        const ctx = document.getElementById('graphic-imc');

        //     new Chart(ctx, {
        //     type: 'bar',
        //     data: {
        //       labels: data.data,
        //       datasets: [{
        //         label: 'IMC',
        //         data: data.imc,
        //         borderWidth: 1
        //       }]
        //     },
        //     options: {
        //       scales: {
        //         y: {
        //           beginAtZero: true
        //         }
        //       }
        //     }
        //   });

        new Chart(ctx, {
            type: 'line', // also try bar or other graph types

	// The data for our dataset
	data: {
		labels: data.data,
		// Information about the dataset
    datasets: [{
			label: "IMC",
			backgroundColor: 'red',
			borderColor: '#be1717',
			data: data.imc,
		}]
	},

	// Configuration options
	options: {
    layout: {
      padding: 10,
    },
		legend: {
			position: 'bottom',
		},
		title: {
			display: true,
			text: 'Precipitation in Toronto'
		}}
        });
    }

    setTimeout((func) => { getData() }, 10)


</script>