<div class="center">
    <div class="table">
        <% head = {
            nome: "Nome",
            email: "E-mail",
            modificacao: "Modificação"
        } %>

        <%- include('./table', {
            head: head,

            table: table["data"]
        }) %>
    </div>
</div>