<div class="title">
    <h2>RELATÓRIO DE IA</h2>
</div>

<div class="center">
    <div id="textIMC">
        <p>IMC</p>
    </div>
</div>

<script src="/public/js/libraries/imc-analysis.js" defer></script>

<script>
    const text = document.getElementById("textIMC");

    async function getIMCData() {
        let data = await listarIMC();

        const textIMC = await analyze(data[0]);

        text.innerHTML = textIMC;
    }

    setTimeout((func) => { getIMCData() }, 10)
</script>

