<div class="title">
    <h2>RELATÓRIO DE IA</h2>
</div>

<div class="center">
    <div id="text">
        <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, voluptate. Omnis, corrupti. Odio accusantium consectetur temporibus, rem officia itaque. Voluptatem cum tempora cumque sint deleniti laborum autem, maxime assumenda! Quam.</p> -->
        
        <div class="center">
            <%- include('./carregamento') %>
        </div>
    </div>
</div>

<script>
    const carregando = document.getElementById("carregando");

    carregando.style.display = "block";
</script>