<div class="title">
    <h2 id="saudacao"></h2>
</div>

<script>
    const saudacao = document.getElementById("saudacao");
    let nome = localStorage.getItem("nome");
    
    
    saudacao.innerText = `Seja bem-vindo, ${nome}!`;
    
</script>