<div>
    <label>Tipo:</label><br>
    <select id="tipo">
        <option value="colaborador">Colaborador</option>
        <option value="rh">RH</option>
        <option value="adm">ADM</option>
    </select>
</div>